<h1>Listing cities</h1>

<table>
  <thead>
    <tr>

       <th>City</th>
       <th>Short Name</th>
       <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %>
        <td><%= city.short_name %>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>      
    <% end %>
    </tbody>
</table>

<%= link_to "Add New" , new_city_path %>

<br>
