<h1>Shipments</h1>

<table>
  <thead>
    <tr>

       <th>ID</th>
       <th>To</th>
       <th>Weight</th>
       <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><%= link_to shipment.id, shipment %>
        <td><%= shipment.city %>
        <td><%= shipment.weight%>
        <td><%= link_to 'Edit', edit_shipment_path(shipment) %></td>
        <td><%= link_to 'Destroy', shipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add New", new_shipment_path %>

<br>


